<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")">
    <link href="~/Content/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/jqx.metro.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jqx-all.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/app/application.js")"></script>
    <script src="@Url.Content("~/Scripts/app/common.js")"></script>
    <script>
            $(function() {
                $("#topMenu").jqxMenu({theme: 'metro'});
            });
    </script>
    @RenderSection("scripts", required: false)
</head>
    <body>
        <header>
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content/oktopod.png")" alt="Logo" />
            </a>
            <div id="topMenu">
                <ul>
                    <li>@Html.ActionLink("Opštine", "Index", "Opstine")</li>
                    <li>@Html.ActionLink("Mesta", "Index", "Mesta")</li>
                    <li>@Html.ActionLink("Stajališta", "Index", "Stajalista")</li>
                    <li>Daljinar
                        <ul>
                            <li>@Html.ActionLink("Nova relacija", "Nova", "Relacije")</li>
                            <li>@Html.ActionLink("Pregled relacija", "Index", "Relacije")</li>
                        </ul>
                    </li>
                    <li>
                        Prevoznik
                        <ul>
                            <li>@Html.ActionLink("Pregled prevoznika", "Index", "Prevoznici")</li>
                            <li>@Html.ActionLink("Prevoznik", "Prevoznik", "Prevoznici")</li>
                            <li>Linije
                                <ul>
                                    <li>@Html.ActionLink("Nova linija", "Linija", "Linije")</li>
                                    <li>@Html.ActionLink("Pregled linija", "Index", "Linije")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span>@Html.Action("VratiKorisnika", "Home")</span>
                        <ul>
                            @*<li><a href="http://localhost:49926/account/mojprofil">Moj nalog</a></li>*@
                            <li><a href="http://korisnici.azurewebsites.net/account/mojprofil">Moj nalog</a></li>
                            <li>@Html.ActionLink("Odjavi me", "Logout", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        @RenderBody()
        
    </body>
</html>
