@{
    ViewBag.Title = "Stajališta";
}

@section styles
{
    <style>
        #left {
            float: left;
        }
        #mapa {
            float: left;
            margin: 0 0 0 4px;
            width: 400px;
            min-height: 400px;
        } 
        #mestaCombo {
            display: inline-block;
        }
        .vrstaStajalisteButton {
            padding-bottom: 4px;
            border: 0;
            cursor: pointer;
        }
        #stajalista {
            float: left;
        }   
        #btnPretrazi {
            border: 0;
            margin-left: 4px;
        }
    </style>
    
    
}
@section scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcdf5bk8_wFGfPjt4w-aVHJX_EYTm-9TI&sensor=false"></script>
    <script src="@Url.Content("~/Scripts/app/dialogs/pretragaStajalista.js")"></script>
    <script src="@Url.Content("~/Scripts/app/pages/stajalistaPage.js")"></script>
    <script>
        RVMS.Pages.StajalistaPage = new RVMS.Pages.StajalistaPage();
    </script>
}

<div id="left">
    <div class="line">
        <label class="label">Opština</label>
        <div id="opstineCombo"></div>
    </div>
    <div class="line">
        <label class="label">Mesto</label>
        <div id="mestaCombo"></div>
        <input type="image" src="@Url.Content("~/Content/images/copy.png")" id="btnCopy" title="Kopiraj naziv" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/Numbers-icon.png")" id="btnNumbers" title="Broj" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/routing-intersection-right-icon.png")" id="btnIntersection" title="Raskrsnica" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/van-bus-icon.png")" id="btnBus" title="Autobuska stanica" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/train.png")" id="btnTrain" title="Železnička stanica" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/city-icon.png")" id="btnCity" title="Centar" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/school.png")" id="btnSchool" title="Škola" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/Christian-cross-icon.png")" id="btnGroblje" title="Groblje" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/tomato-icon.png")" id="btnMarket" title="Pijaca" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/log_out.png")" id="btnIn" title="Ulaz" class="vrstaStajalisteButton"/>
        <input type="image" src="@Url.Content("~/Content/images/door_out.png")" id="btnOut" title="Izlaz" class="vrstaStajalisteButton"/>
    </div>

    <form action="javascript:;">
        <div class="line">
            <label class="label">Naziv stajališta</label>
            <input type="text" id="nazivStajalista" />
            <input type="image" src="@Url.Content("~/Content/images/toolbar_find.png")" id="btnPretrazi" />
        </div>
        <div class="line">
            <label class="label">Stanica</label>
            <div id="stanica"></div>  
        </div>
        <div class="line">
            <input type="submit" id="btnSave" value="Sačuvaj" class="pretraziBtn"/>
            <img src="@Url.Content("~/resources/kockice_loader.gif")" id="loader" />    
        </div>
    </form>
</div>
<div style="clear: both">
    <div id="stajalista"></div>    
    <div id="mapa"></div>    
</div>

@Html.Partial("_PretragaStajalista")